<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="car">
    <xacro:include filename="$(find urdf02_gazebo)/urdf/def_inertial_matrix.xacro"/>
    <xacro:include filename="$(find urdf02_gazebo)/urdf/car_body.xacro"/>
    <xacro:include filename="$(find urdf02_gazebo)/urdf/car_camera.xacro"/>
    <xacro:include filename="$(find urdf02_gazebo)/urdf/car_laser.xacro"/>
    <xacro:include filename="$(find urdf03_gazebo_rviz)/urdf/car_move.xacro"/>
    <xacro:include filename="$(find urdf03_gazebo_rviz)/urdf/car_laser.xacro"/>
    <xacro:include filename="$(find urdf03_gazebo_rviz)/urdf/car_camera.xacro"/>
    <xacro:include filename="$(find urdf03_gazebo_rviz)/urdf/car_kinect.xacro"/>
    
    
</robot>