<?xml version="1.0"?>
<launch>

    <param name="robot_description" command="$(find xacro)/xacro $(find urdf03_gazebo_rviz)/urdf/car.xacro"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find urdf02_gazebo)/worlds/box_house.world"/>
    </include>
    <node name="demo01" pkg="gazebo_ros" type="spawn_model" args="-urdf -model car -param robot_description"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find urdf03_gazebo_rviz)/config/demo01.rviz" output="screen"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="static_transform_publisher" args="0 0 0 -1.57 0 -1.57 /support /support_depth" />

    <!-- <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard" output="screen"/> -->


</launch>