<?xml version="1.0"?>
<launch>

    <param name="robot_description" command="$(find xacro)/xacro $(find urdf02_gazebo)/urdf/car.xacro"/>
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
    <node name="demo02" pkg="gazebo_ros" type="spawn_model" args="-urdf -model car -param robot_description"/>
    

</launch>